/* Utility class for repeated pattern */
.flex-center-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  font-family: system-ui, sans-serif;
  color: white;
  padding: 20px;
  background: url('geopardyBackground.png');
}

h1 {
  font-family: 'Comic Sans MS', sans-serif;
  font-size: 75px;
  color: #3BA322;
  margin: 125px 0 50px;
  height: 75px;
  text-align: center;
}

h2 {
  text-align: center;
  color: black;
}

#mainPage, #lobbiesPopup, .buttons {
  margin: 0 auto;
}

#roomsPopup {  
  position: absolute;
  top: 150px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
  width: 200px;
  padding: 20px;
  border: 5px solid #84D1DF;
  border-radius: 12px;
  background-color: rgba(31, 41, 55, 0.8);
}

#usernameInput {
  width: 320px;
  margin: 50px auto 25px;
  display: block;
  border: none;
  border-radius: 8px;
  text-align: center;
  font-size: 30px;
}

#quickStartButton {
  margin-bottom: 15px;
}

.buttons {
  font-family: 'Comic Sans MS', sans-serif;
  width: 300px;
  font-size: 20px;
  border-radius: 8px;
  color: white;
}

#joinRoomDisplay {
  margin-top: 20px;
  text-align: center;
}

.panel {
  margin-bottom: 12px;
}

input {
  padding: 4px 6px;
  margin-left: 4px;
}

button {
  margin-left: 4px;
  padding: 4px 10px;
  cursor: pointer;
}

pre#log {
  margin-top: 16px;
  padding: 10px;
  background: #020617;
  border-radius: 4px;
  height: 200px;
  overflow-y: auto;
  border: 1px solid #374151;
}

#map {
  position: relative;
  width: 100%;
  max-width: 100vw;   /* fits screen width */
}

#pngMap {
  width: 100%;
  height: auto;
  display: block;
}

.map-svg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}

#regions {
  z-index: 998;
}


#markers {
  z-index: 999;
  pointer-events: none;
}

/* But the circles inside it SHOULD still be hoverable/clickable */
#markers .circleRegion {
  pointer-events: all;
}

.region {
  fill: transparent;
  cursor: pointer;
  pointer-events: all;
}

.region:hover {
  fill: rgba(51, 210, 4, 0.5);
  stroke: none;
}

.circleRegion {
  position: relative;
  stroke: black;
  stroke-width: 3;
}

.circleRegion:hover {
  fill: rgba(126, 215, 10, 1);
  stroke: black;
  stroke-width: 3;
}
